/* SIGNUP PAGE STYLING */

*{
    margin: 0;
    padding: 0;
  }

  
h1{
    text-align: center;
   
}
.main{
    max-width: 450px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 30px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 40px;
    color: white;
}
 
input[type]{
    width: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 15px;
    margin-top: 25px;
    background-color: rgba(0,0,0,0.2);
    color: white;
    border-radius: 10px;
    border-bottom: 2px solid gray;
    margin-bottom: 5px;
}
 
.btn{
    width: 100%;
    margin-top: 20px !important;
}
  
input:focus{
    color: rgb(157, 50, 190); 
}
span{
    color: red;
    font-size: 15px;
    padding-bottom: 30px;
}
  
@media screen and (max-width:500px){
    .main{
        max-width: 300px;
    }
  }
  